<div class="header row align-flex-start justify-space-between">

  <div>
    <h1 class="caption mat-headline no-margin">
      <ng-content select="[caption]"></ng-content>
    </h1>

    <div class="mat-body-1 text-note">
      <ng-content select="[description]"></ng-content>
    </div>
  </div>

  <div class="actions">
    <ng-content select="[actions]"></ng-content>
  </div>

</div>

<mat-divider></mat-divider>

<div class="breadcrumbs row justify-space-between">

  <div class="list row align-center">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <span class="divider" *ngIf="i > 0" i18n="@@breadcrumb.divider">></span>
      <a class="link row align-center" [routerLink]="breadcrumb.url">
        <app-breadcrumb-i18n-hack [routeId]="breadcrumb.id" [resolverId]="breadcrumb.resolver"></app-breadcrumb-i18n-hack>
      </a>
    </ng-container>

  </div>

  <button mat-button color="primary" (click)="goToParent()" [@slideRight]="breadcrumbs.length > 1 ? 'open' : 'closed'">
    <mat-icon>arrow_upward</mat-icon> <span i18n="@@breadcrumb.toParent">Jump into parent page</span>
  </button>
</div>

<mat-divider></mat-divider>
