<div class="mat-title" i18n="@@product.reviews.caption">Reviews about the product</div>

<app-component-preloader [@fade]="!error && !reviews ? 'open' : 'closed'">
  <app-fake-placeholder type="rectangle" [progress]="true"></app-fake-placeholder>
  <app-fake-placeholder type="rectangle"></app-fake-placeholder>
  <app-fake-placeholder type="rectangle"></app-fake-placeholder>
</app-component-preloader>

<app-component-error [@fade]="!reviews && error ? 'open' : 'closed'">
  <span message i18n="@@product.reviews.error">We cannot load product reviews at this time, please try again or later</span>
  <div actions>
    <app-button-reload (click)="reload()" i18n="@@product.reviews.reload">Reload reviews</app-button-reload>
  </div>
</app-component-error>

<div class="reviews" [@slideTop]="reviews ? 'open' : 'closed'">

  <form #form="ngForm">
    <fieldset [disabled]="progress">
      <div class="row">
        <mat-form-field class="col">
          <textarea name="review"
                    matInput
                    i18n-placeholder="@@product.reviews.form.review.placeholder"
                    placeholder="Leave a review" [(ngModel)]="model.text"
                    required></textarea>
        </mat-form-field>
      </div>
      <div class="row align-center">
        <div class="mat-body-1 text-note rate-caption" i18n="@@product.reviews.form.rate.caption">Rating — </div>
        <mat-icon class="star"
                  *ngFor="let rating of ratingToArray(5); let i = index;" (click)="model.rating = i + 1"
                  [ngClass]="{ 'star_rated': model.rating > i }">star_rate</mat-icon>
        <div class="col"></div>
        <div class="row align-flex-end justify-center">
          <button
            mat-raised-button color="primary"
                  [disabled]="form.invalid || progress"
                  (click)="createReview(model)"
                  i18n="@@product.reviews.form.submit">
            Send
          </button>
        </div>
      </div>
    </fieldset>
  </form>

  <mat-paginator
    [@slideTop]="!reviews || reviews?.length === 0 || reviews.length <= limit ? 'closed' : 'open'"
    [pageIndex]="page - 1"
    [pageSize]="limit"
    [pageSizeOptions]="[5, 10, 25, 100, 200]"
    [length]="reviews?.length"
    (page)="filter = $event"></mat-paginator>

  <div class="review mat-elevation-z1"
       *ngFor="let review of reviews | slice : filter?.pageIndex * limit : filter?.pageIndex * limit + limit"
       [@slideTop]="reviews.length > 0 ? 'open' : 'closed'">
    <div class="author row align-center">
      <mat-icon class="text-note">account_circle</mat-icon>
      <div class="mat-body-2 text-note name">{{ review.name }}</div>
      <div class="col"></div>
      <div class="mat-caption text-note">{{ review.created | date:'d MMM y, h:mm' }}</div>
    </div>
    <div class="rating" *ngIf="review.rating > 0">
      <mat-icon class="star" *ngFor="let rating of ratingToArray(review.rating)">star_rate</mat-icon>
    </div>
    <pre class="review__text">{{ review.review }}</pre>
  </div>

  <p class="mat-body-1 text-note text-center"
     [@slideTop]="reviews?.length === 0 ? 'open' : 'closed'"
     i18n="@@product.reviews.empty">
    At this time there are no any comments...
  </p>

</div>

<ng-template #review_create_error i18n="@@product.reviews.toast.post.error">
  We unable to create review at this time, please, try again or later
</ng-template>

<ng-template #review_create_success i18n="@@product.reviews.toast.post.success">
  Your review has been successfully posted
</ng-template>

<ng-template #review_create_cancel i18n="@@product.reviews.toast.post.cancel">
  Post was not sent due to canceled authorization
</ng-template>

<ng-template #review_auth_message i18n="@@product.reviews.note.authentication">
  Please sign in or register in order to post your review
</ng-template>
