<app-route-navigation>
  <div caption>Grand new E-Commerce, Buy & Try!</div>
  <div description>We sell the most inspiration ideas</div>
  <div actions>
    <!-- @todo Finish this feature -->
    <button mat-raised-button color="primary">
      <mat-icon>360</mat-icon> Make a tour!
    </button>
  </div>
</app-route-navigation>

<app-products-navigator (onPagination)="onPagination($event)" [products]="products" [@slideTop]="!error ? 'open' : 'closed'"></app-products-navigator>

<app-component-error [@fade]="!products && error ? 'open' : 'closed'">
  <span message>
    We encountered problems while loading catalog<br/>
    Press the button below to try to load this catalog again
  </span>
  <div actions>
    <app-button-reload (click)="reload(filter)">Reload catalog</app-button-reload>
  </div>
</app-component-error>
