<div class="mat-headline no-margin">Departments</div>

<mat-divider></mat-divider>

<app-component-preloader [@fade]="!departments && !error ? 'open' : 'closed'">
  <app-fake-placeholder type="rectangle"></app-fake-placeholder>
  <app-fake-placeholder type="line"></app-fake-placeholder>
  <app-fake-placeholder type="line"></app-fake-placeholder>
</app-component-preloader>

<app-component-error [@fade]="!departments && error ? 'open' : 'closed'">
  <div message>
    We cannot load departments list<br/>
    Please, press the button to try again<br/>
  </div>
  <div actions>
    <app-button-reload (click)="reload()">Reload departments</app-button-reload>
    <app-button-close-website></app-button-close-website>
  </div>
</app-component-error>

<div [@slideTop]="departments ? 'open' : 'closed'">

  <div class="department" *ngFor="let department of departments">
    <div class="mat-title no-margin">
      <a routerLink="/departments/{{ department.department_id }}">{{ department.name }}</a>
    </div>
    <div class="mat-small department__description"><small>{{ department.description }}</small></div>
    <app-department-categories [departmentId]="department.department_id"></app-department-categories>
  </div>

</div>
