:host {
  display: block;
  min-height: 400px;
  padding: 15px 0;
}

:host ::ng-deep {
  .mat-title, .mat-small, .mat-headline {
    padding: 0 15px;
  }
}

app-component-preloader, app-component-error {
  position: absolute;
  width: calc(100% - 30px);
  padding: 0 15px;
}

@media(max-width: 990px) {
  app-component-preloader, app-component-error {
    width: 100%;
  }
}

.department {
  margin-bottom: 25px;

  &__description {
    margin-bottom: 10px;
  }

  &:last-of-type {
    margin: 0;
  }
}

mat-divider {
  margin: 15px 0;
}
