.cart__loader {
  padding: 50px 0;

  mat-progress-spinner {
    margin-right: 10px;
  }
}

.cart__empty {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: #0e80da;
  text-align: center;

  mat-icon {
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: 24px;
    font-size: 56px;
  }

  button {
    margin-top: 24px;
  }
}

.cart__items,
.cart__checkout {

  > div:first-of-type {
    padding-right: 25px;
    border-right: 1px solid rgba(0,0,0,0.05);
  }

  > div:last-of-type {
    padding-left: 25px;
  }

}

.mobile {

  .cart__items,
  .cart__checkout {

    > div:first-of-type {
      padding-right: 0;
      border-right: none;
      padding-bottom: 15px;
    }

    > div:last-of-type {
      padding-top: 15px;
      padding-left: 0;
    }

  }

}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-bottom: 25px;
}

.step-actions {
  margin-top: 24px;
}

:host ::ng-deep {

  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0 !important;
  }

  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0 !important;
  }

}

.preloader {
  display: inline-block;
  margin-right: 5px;
}
