table {

  width: 100%;

  tr {
    height: auto;
  }

  td {
    padding: 6px;

    &:first-child {
      padding-left: 12px;
    }

    &:last-child {
      padding-right: 12px;
    }
  }
}

.item__image {
  width: 64px;
  height: 64px;
}

.column-quantity {
  min-width: 92px;
}

fieldset {
  display: flex;
}

:host ::ng-deep .column-quantity .mat-form-field-infix {
  width: 40px;
}
