<div class="row align-center">

  <span [@slideRight]="!error && !routeId && !routeName ? 'open' : 'closed'">
    <mat-progress-spinner [diameter]="14" color="primary" mode="indeterminate"></mat-progress-spinner>
  </span>

  <span [ngSwitch]="routeId" class="text-overflow" [@slideRight]="!error && routeId && !routeName ? 'open' : 'closed'">
    <span *ngSwitchCase="'root'" i18n="@@route.root.breadcrumb">Store</span>
    <span *ngSwitchCase="'home'" i18n="@@route.home.breadcrumb">Catalog</span>
    <span *ngSwitchCase="'cart'" i18n="@@route.cart.breadcrumb">Cart</span>
    <span *ngSwitchCase="'account'" i18n="@@route.account.breadcrumb">Account</span>
    <span *ngSwitchDefault i18n="@@breadcrumb.unknown">Unknown page</span>
  </span>

  <span [@slideRight]="!error && routeName ? 'open' : 'closed'" class="text-overflow">{{ routeName }}</span>

  <span [@slideRight]="error ? 'open' : 'closed'" class="text-overflow" i18n="@@breadcrumb.error">Unknown page</span>

</div>
