<div class="row align-center justify-center">

  <button mat-button color="primary" [@slideRight]="!cart.state.ready && !cart.state.error ? 'open' : 'closed'">
    <mat-progress-spinner diameter="13" mode="indeterminate" color="primary"></mat-progress-spinner> <span>Loading cart</span>
  </button>

  <app-component-error mode="row" [@slideRight]="cart.state.ready && cart.state.error ? 'open' : 'closed'">
    <span message>Cart is not available</span>
    <span actions>
    <button mat-icon-button color="primary" (click)="reload()">
      <mat-icon>refresh</mat-icon>
    </button>
  </span>
  </app-component-error>

  <button mat-button color="primary" [@slideRight]="cart.state.ready && cart.items ? 'open' : 'closed'" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon> {{ cart.items?.length }} items in your cart
  </button>

</div>
