html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Roboto, Arial, Helvetica;
  height: 100%;
  overflow-y: scroll;
}

a {
  color: #0e80da;
  text-decoration: none;
}

mat-icon {
  margin-right: 6px;
}

mat-horizontal-stepper {
  background: none !important;
}

button[mat-icon-button] mat-icon {
  margin: 0;
}

button {
  mat-progress-spinner {
    display: inline-block !important;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}

th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.mat-error {
  font-size: 11px;
}

.no-margin { margin: 0; }

.text-right { text-align: right; }
.text-center { text-align: center; }

.text-success { color: #6ea02a; }
.text-danger { color: #e64727; }
.text-note { color: #3592c7; }
.text-darken { color: rgba(0,0,0,0.45); }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
