html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Roboto, Arial, Helvetica;
  height: 100%;
}

a {
  color: #0e80da;
  text-decoration: none;
}

.no-margin { margin: 0; }

.text-danger { color: #e64727; }
