app-container {
  display: block;

  // There is afwul bug with css grid, layout cannot reach bottom of the page (there are always space of ~20px)
  // Turning bug into feature (instead of reworking whole app layout), make space at all sides
  position: relative;
  bottom: -10px;

  width: 100%;
}

@media (min-width: 576px) {
  app-container {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  app-container {
    bottom: 0;
  }
}

@media (min-width: 1001px) {
  app-container {
    bottom: -10px;
  }
}

@media (min-width: 1200px) {
  app-container {
    bottom: -10px;
  }
}

.container {
  background: white;
}
