<app-route-navigation>
  <div caption>
    <div [@slideTop]="department ? 'open' : 'closed'" i18n="@@route.department.caption">
      {{ department?.name }} T-shirts
    </div>
    <app-component-preloader [@fade]="!department ? 'open' : 'closed'">
      <app-fake-placeholder type="line_short"></app-fake-placeholder>
      <app-fake-placeholder type="line"></app-fake-placeholder>
      <app-fake-placeholder type="line"></app-fake-placeholder>
    </app-component-preloader>
  </div>
  <div description>
    <div [@slideTop]="department ? 'open' : 'closed'">
      {{ department?.description | excerpt:200 }}
    </div>
  </div>
  <div actions>
  </div>
</app-route-navigation>

<app-products-navigator (onPagination)="onPagination($event)" [products]="products" [@slideTop]="!error ? 'open' : 'closed'"></app-products-navigator>

<app-component-error [@fade]="error ? 'open' : 'closed'">
  <span message i18n="@@route.department.error">
    We encountered problems while loading catalog<br/>
    Press the button below to try to load this catalog again
  </span>
  <div actions>
    <app-button-reload (click)="reload(filter)" i18n="@@route.department.reload">Reload catalog</app-button-reload>
  </div>
</app-component-error>
