:host {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

mat-progress-spinner {
  position: absolute;
}

button {
  position: absolute;
}

img {
  max-width: 100%;
  max-height: 100%;
}
