<!-- @todo: Google Recaptcha v3 (for now there is no server) -->

<div *ngIf="caption" class="mat-body-1 text-note text-center caption">
  <p>
    <ng-container [ngTemplateOutlet]="caption"></ng-container>
  </p>
  <mat-divider></mat-divider>
</div>

<div class="row align-flex-start container" [ngClass]="{ mobile: isMobileDevice() }">

  <div class="col-lg-6">

    <div class="mat-title" i18n="@@popup.auth.login.caption">Sign In</div>

    <form #loginForm="ngForm" (ngSubmit)="login(models.login)">

      <fieldset [disabled]="progress">

        <mat-form-field>
          <input name="email"
                 type="text"
                 [(ngModel)]="models.login.email"
                 matInput
                 email
                 i18n-placeholder="@@form.field.email"
                 placeholder="E-Mail"
                 required />
        </mat-form-field>

        <mat-form-field>
          <input name="password"
                 type="password"
                 matInput
                 [(ngModel)]="models.login.password"
                 i18n-placeholder="@@form.field.password"
                 placeholder="Password"
                 required />
        </mat-form-field>

        <div class="row justify-flex-end align-center">
          <button mat-raised-button color="primary" [disabled]="progress || loginForm.invalid">
            <span class="preloader" [@slideRight]="progress ? 'open' : 'closed'">
              <mat-progress-spinner color="primary" diameter="14" mode="indeterminate"></mat-progress-spinner>
            </span>
            <mat-icon [@slideRight]="!progress ? 'open' : 'closed'">arrow_forward</mat-icon> <span i18n="@@popup.auth.login.submit">Sign In</span>
          </button>
        </div>

      </fieldset>

    </form>

  </div>

  <div class="col-lg-6">

    <div class="mat-title" i18n="@@popup.auth.registration.caption">Sign Up</div>

    <form #regForm="ngForm" (ngSubmit)="register(models.registration)">

      <fieldset [disabled]="progress">

        <mat-form-field>
          <input name="username"
                 type="text"
                 [(ngModel)]="models.registration.name"
                 matInput
                 i18n-placeholder="@@form.field.username"
                 placeholder="Username"
                 required />
        </mat-form-field>

        <mat-form-field>
          <input
            name="email"
            type="email"
            [(ngModel)]="models.registration.email"
            matInput
            email
            placeholder="E-Mail"
            i18n-placeholder="@@form.field.email"
            required />
        </mat-form-field>

        <mat-form-field>
          <input name="password"
                 type="password"
                 matInput
                 [(ngModel)]="models.registration.password"
                 i18n-placeholder="@@form.field.password"
                 placeholder="Password"
                 required />
        </mat-form-field>

        <div class="row justify-flex-end align-center">
          <button mat-raised-button color="primary" [disabled]="progress || regForm.invalid">
            <span class="preloader" [@slideRight]="progress ? 'open' : 'closed'">
              <mat-progress-spinner color="primary" diameter="14" mode="indeterminate"></mat-progress-spinner>
            </span>
            <mat-icon [@slideRight]="!progress ? 'open' : 'closed'">arrow_forward</mat-icon> <span i18n="@@popup.auth.registration.submit">Sign Up</span>
          </button>
        </div>

      </fieldset>

    </form>

  </div>

</div>

<ng-template #auth_success i18n="@@popup.auth.toast.login.success">
  You have been successfully singed in
</ng-template>

<ng-template #auth_manual_error i18n="@@popup.auth.toast.login.error.unknown">
  We cannot authorize you at this time, please try again or later
</ng-template>

<ng-template #auth_manual_credentials_error i18n="@@popup.auth.toast.login.error.invalid">
  Such combination of email and password is not found, please check entered data
</ng-template>

<ng-template #register_success i18n="@@popup.auth.toast.registration.success">
  You have been successfully registered
</ng-template>

<ng-template #register_unknown_error i18n="@@popup.auth.toast.registration.error.unknown">
  We cannot register you at this time, please try again or later
</ng-template>

<ng-template #register_in_use_error i18n="@@popup.auth.toast.registration.error.used">
  This email is already in use, please use other one or sign in using the left form
</ng-template>

<ng-template #register_email_error i18n="@@popup.auth.toast.registration.error.invalid">
  You have entered incorrect email (incorrect characters)
</ng-template>
