:host {
  display: block;
  width: 500px;
}

.container {

  > div {
    border-right: 1px solid rgba(0,0,0,0.1);
    padding: 0 15px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border: none;
      padding-right: 0;
    }
  }

}

.mobile > div {
  padding: 0 15px;
  border: none;

  &:first-of-type {
    padding: 15px 0;
  }

  &:last-of-type {
    padding: 15px 0 0 0;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
}

mat-form-field {
  width: 100%;
}

.preloader {
  display: inline-block;
  margin-right: 5px;
}

.caption + .container .col-6 {
  padding-top: 16px;
}
