<app-route-navigation>
  <div caption i18n="@@route.account.caption">Account</div>
  <div description i18n="@@route.account.description">Your personal data (orders and information management)</div>
  <div actions>
    <button mat-raised-button color="primary" (click)="logout()" [@slideRight]="user.model ? 'open' : 'closed'">
      <mat-icon>exit_to_app</mat-icon> <span i18n="@@button.logout">Logout</span>
    </button>
  </div>
</app-route-navigation>

<div class="sign-note" [@slideTop]="!user.model ? 'open' : 'closed'">

  <p class="text-danger text-center mat-body-2" [@slideTop]="error === 'session' ? 'open' : 'closed'"
     i18n="@@route.account.error.session">
    Your session has expired, sign in again, please
  </p>

  <p class="text-note mat-body-1 text-center" i18n="@@route.account.error.auth">
    You must sign in in order manage your account
  </p>

  <div class="text-center">
    <button mat-raised-button color="primary" (click)="auth()">
      <mat-icon>account_circle</mat-icon> <span i18n="@@route.account.auth.submit">Sign In</span>
    </button>
  </div>

</div>

<mat-tab-group [@slideTop]="user.model ? 'open' : 'closed'"
               [selectedIndex]="tabIndex"
               (selectedIndexChange)="onTabChange($event)">

  <mat-tab>
    <ng-template mat-tab-label i18n="@@route.account.section.profile.caption">
      Profile
    </ng-template>

    <ng-template matTabContent>
      <div class="tab-container">
        <div class="mat-title" i18n="@@route.account.section.profile.caption">Profile</div>
        <app-profile-common-editor></app-profile-common-editor>
      </div>
    </ng-template>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label i18n="@@route.account.section.shipping.caption">
      Shipping
    </ng-template>

    <ng-template matTabContent>
      <div class="tab-container">
        <div class="mat-title" i18n="@@route.account.section.shipping.caption">Shipping</div>
        <app-profile-shipping-editor></app-profile-shipping-editor>
      </div>
    </ng-template>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label i18n="@@route.account.section.orders.caption">
      Orders
    </ng-template>

    <ng-template matTabContent>
      <div class="tab-container">
        <div class="mat-title" i18n="@@route.account.section.orders.caption">Orders</div>
        <app-orders></app-orders>
      </div>
    </ng-template>

  </mat-tab>

</mat-tab-group>

<ng-template #user_logout_success i18n="@@route.account.toast.logout.success">
  You have successfully logged out from the account
</ng-template>

<ng-template #user_logout_error i18n="@@route.account.toast.logout.error">
  Cannot log you out at this time, please try again or later
</ng-template>
