:host {
  display: block;
  min-height: 80px;
}

app-component-preloader, app-component-error {
  position: absolute;
  width: calc(100% - 30px);
  min-height: 80px;
  padding: 0 15px;
}

@media(max-width: 990px) {
  app-component-preloader, app-component-error {
    width: 100%;
  }
}

.categories {

  width: 100%;

  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    background: rgba(69, 186, 255, 0.04);
    transition: background-color ease-out 0.1s;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    &:hover {
      background: rgba(69, 186, 255, 0.15);
      box-shadow: 0 0 2px rgba(0,0,0,0.07);
    }

    a {
      width: 100%;
      padding: 10px 15px;
    }

    &:last-of-type {
      border: none;
    }
  }
}
