<app-component-preloader [@fade]="!categories && !error ? 'open' : 'closed'">
  <app-fake-placeholder type="line" [progress]="true"></app-fake-placeholder>
  <app-fake-placeholder type="line"></app-fake-placeholder>
  <app-fake-placeholder type="line_short"></app-fake-placeholder>
</app-component-preloader>

<app-component-error [@fade]="!categories && error ? 'open' : 'closed'">
  <div message i18n="@@route.category.error">
    We cannot load department categories<br/>
    Please, press the button to try again<br/>
  </div>
  <div actions>
    <app-button-reload (click)="reload()" i18n="@@route.category.reload">Reload categories</app-button-reload>
  </div>
</app-component-error>

<ul class="categories" [@slideTop]="categories ? 'open' : 'closed'">
  <li *ngFor="let category of categories" matRipple matRippleColor="#c7ebff" matRippleRadius="50">
    <a routerLink="/departments/{{ departmentId }}/categories/{{ category.id }}" class="row align-center justify-space-between">
      <span>{{ category.name }}</span>
      <mat-icon>chevron_right</mat-icon>
    </a>
  </li>
</ul>
