app-component-error {
  padding: 30px 30px 0 30px;
}

:host ::ng-deep app-route-navigation .header {
  min-height: 102px;
}

:host ::ng-deep app-component-preloader {
  position: absolute;
  width: calc(100% - 40px);
}
