<mat-form-field floatLabel="never">
  <input matInput
         i18n-placeholder="@@search.label"
         placeholder="Search for T-shirts" [matAutocomplete]="auto" [formControl]="controller">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let product of products | async" routerLink="/products/{{ product.id }}" [value]="product.name">
      <div class="row align-center">
        <app-image-thumbnail [url]="product.images[0]"></app-image-thumbnail>
        <div>{{ product.name }}</div>
        <div class="col"></div>
        <div class="mat-body-1 text-note">{{ product.price | money }}</div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
