:host {
  display: block;
  padding: 15px;
}

.product {
  max-width: 130px;
  height: 330px;
  margin: 10px;
}

.title {
  padding: 6px 7px;
}

.description {
  padding: 9px;
  height: 64px;
  font-size: 12px;
  line-height: 16px;
}

.actions {
  padding: 9px;

  button {
    width: 100%;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

}

app-component-preloader {
  position: absolute;
  min-height: 250px;
  width: calc(100% - 30px);
  margin-top: 15px;
}

app-fake-placeholder {
  float: left;
  margin: 4px;
}

app-image-large {
  height: 120px;
}
