<app-component-preloader [@fade]="!products ? 'open' : 'closed'">
  <app-fake-placeholder type="square" [progress]="true"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
</app-component-preloader>

<mat-paginator
  [@slideTop]="!products || products?.count === 0 ? 'closed' : 'open'"
  [pageIndex]="page - 1"
  [pageSize]="limit"
  [pageSizeOptions]="[5, 10, 25, 100, 200]"
  [length]="products?.count"
  (page)="onFilterChange($event)"></mat-paginator>

<div class="products row justify-space-around" [@slideTop]="products ? 'open' : 'closed'">
  <div class="product mat-card" *ngFor="let product of products?.rows; let i = index;">
    <div class="title mat-title text-overflow no-margin">{{ product.name }}</div>
    <mat-divider></mat-divider>
    <app-image-large [url]="'http://lorempixel.com/300/250?' + i"></app-image-large>
    <mat-divider></mat-divider>
    <div class="description mat-body-1">{{ product.description | excerpt:75 }}</div>
    <mat-divider></mat-divider>
    <div class="actions">
      <button mat-stroked-button color="primary" class="col">
        Know more
      </button>
      <app-button-purchase
        [productId]="product.product_id"
        [price]="product.discounted_price"
        [discount]="product.price - product.discounted_price"></app-button-purchase>
    </div>
  </div>
</div>
