<app-component-preloader [@fade]="!products ? 'open' : 'closed'">
  <app-fake-placeholder type="square" [progress]="true"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
  <app-fake-placeholder type="square"></app-fake-placeholder>
</app-component-preloader>

<mat-paginator
  [@slideTop]="!products || products?.count === 0 ? 'closed' : 'open'"
  [pageIndex]="page - 1"
  [pageSize]="limit"
  [pageSizeOptions]="[5, 10, 25, 100, 200]"
  [length]="products?.count"
  (page)="onFilterChange($event)"></mat-paginator>

<div class="products row justify-space-around" [@slideTop]="products ? 'open' : 'closed'">
  <div class="product mat-card" *ngFor="let product of products?.items; let i = index;"
       [joyrideStep]="i === 0 ? 'tourProductDescription' : 'unused'" [stepContent]="tourProductDescription">
    <div class="title mat-body-2 text-overflow no-margin">{{ product.name }}</div>
    <mat-divider></mat-divider>
    <app-image-large [url]="product.images[0]"></app-image-large>
    <mat-divider></mat-divider>
    <div class="description mat-body-1">{{ product.description | excerpt:40 }}</div>
    <mat-divider></mat-divider>
    <div class="actions">
      <button mat-stroked-button
              color="primary"
              class="col"
              routerLink="products/{{ product.id }}"
              i18n="@@navigator.products.item.more">
        Know more
      </button>
      <button mat-stroked-button
              color="primary"
              class="col"
              (click)="add(product.id)">
        <mat-icon>add_shopping_cart</mat-icon> {{ product.price | money }}
      </button>
    </div>
  </div>
</div>

<ng-template #product_detail_info_load_error i18n="@@navigator.products.item.load.error">
  We cannot load detailed info about this product, please, try again or later
</ng-template>

<ng-template #tourProductDescription>
  <p i18n="@@tour.product.description">
    You may get acquainted with the product. They all are T-shirts, but the images on them are
    different (this is a T-shirt prints online store). Find the one interested to you, and then add
    it to your cart or open the details page to learn more about this product.
  </p>
</ng-template>
