:host {
  display: block;
}

.row {
  flex-wrap: nowrap;
}

.row .description {
  margin: 0;
  margin-right: 6px;
}

.description {
  margin-bottom: 10px;
}

:host ::ng-deep actions {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
